<section class="container mx-auto px-10 pb-20">
    <div class="p-10">Logos</div>
    <div
        class="grid grid-cols-1 place-items-center gap-8 sm:grid-cols-3 lg:grid-cols-5"
    >
        <div class="h-32 w-32 bg-gray-200"></div>
        <div class="h-32 w-32 bg-gray-200"></div>
        <div class="h-32 w-32 bg-gray-200"></div>
        <div class="h-32 w-32 bg-gray-200"></div>
        <div class="h-32 w-32 bg-gray-200"></div>
    </div>
</section>
