---
import Logo from '../assets/logo.svg'
---

<section class="container mx-auto px-10">
    <div
        class="grid grid-cols-1 gap-5 border p-10 md:grid-cols-4 md:gap-20 md:p-20"
    >
        <div class="flex gap-4">
            <div>ICON</div>
            <div class="space-y-3">
                <h3 class="text-xl font-semibold">20 day returns</h3>
                <p>Vel risus commodo viverra maecenas accumsan.</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div>ICON</div>
            <div class="space-y-3">
                <h3 class="text-xl font-semibold">Free Shipping</h3>
                <p>Vel risus commodo viverra maecenas accumsan.</p>
            </div>
        </div>
        <div class="flex gap-4 md:col-span-2">
            <!-- <div>
                <h3 class="text-3xl">Sign up for our newsletter</h3>
            </div> -->
            <div class="flex w-full justify-end">
                <Logo width="140" />
            </div>
        </div>
    </div>
</section>
